.heading__wrapper {
	text-align: center;
	margin: 10px auto;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.thumbnail__wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

a.thumbnail img {
	width: 100%;
}
.pager__wrapper {
	margin-left: 20px;
	margin-right: 20px;
}

ul.pagination.pagination-lg.pagination__custom {
	color: black;
}

.pagination.pagination-lg.pagination__custom li.active:not(.disabled) a {
	background-color: #000000;
	color: white;
}

.pagination.pagination-lg.pagination__custom li.disabled a {
	color: #777;
}

.pagination.pagination-lg.pagination__custom li>a {
	color: black;
	margin: 0 3px;
}
.pagination.pagination-lg.pagination__custom li:not(.disabled) a:hover {
	color: white;
	background-color: #000000;
	border: 1px solid #000000;
}
.pagination-lg>li:first-child>a, .pagination-lg>li:last-child>a  {
	border-radius: 0;
}

/*@media screen and (max-width:599px) {
	.pagination.pagination-lg.pagination__custom li>a {
		font-size: 12px;
		line-height: 1;
		padding: 10px 10px;
	}
}*/
